/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1.25rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.25rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

html,body {
  width:100%;
  /* height:100vh; */
  margin: 0px;
  padding: 0px;
  /* overflow-x:auto ; */
  /* overflow-y:auto  ; */
}


body{
  /* margin: var(--header-height) 0 0 0; */
  /* background-color: var(--body-color); */
  color: var(--text-color);
  /* transition: .4s;  */
  /*For animation dark mode*/
  background-image: url(/background.jpeg);

  background-size: 100% 100%;
  
  
  background-position: 0px  56px;

  background-repeat:no-repeat;
  background-attachment: fixed;

}

.fixed-img {
  background-image: url(/background.jpeg);
  height: 100%;
  width: 100%;
  position: fixed;
  top:55px;
  left: 0px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  /* color: var(--title-color); */
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/



.dark-theme .product__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 1.5rem 0 1rem;
}

.section__title,
.section__title-center{
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
  color: #FFF;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  height: 56px;
  background-color: #478ac9;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav{
  

  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: #FFF
}

.nav__logo{
  /* text-transform: uppercase; */
  font-weight: 500;
  /* letter-spacing: -1px; */
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
  /* color: #FFF */
}

.nav__logo-icon{
  /* font-size: 1.15rem;
  color: var(--first-color); */
  width: 28px;
  height: 28px;
}

.nav__logo:hover{
  color: #FFF
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: #478ac9;
    width: 50%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
  color: #fff;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: #FFF;
  font-size: medium;
  transition: .3s;
}

.nav__link:hover{
  color: #FFF
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  padding: 3.5rem 0 2rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
  padding: 0 20px;
}

.home__img{
  width: 200px;
  justify-self: center;
  border-radius: .4rem;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: 1rem;
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
 
  

  justify-items: center;
  row-gap: 3.5rem;
  margin-right: 1vw;
 
}

.home__social-follow{
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  /* color: var(--first-color); */
  color: #dadada;
  position: relative;
  transform: rotate(90deg);
  flex-shrink: 0;

}

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #dadada;

  right: -45%;
  top: 50%;
}

.home__social-links{
  display: inline-flex;
  flex-direction: column;
  row-gap: 1.55rem;
  font-size: 1.5rem;
}

.home__social-link{
  font-size: 1.5 rem;
  color: #dadada;
  position: absolute;
  transform: translateX( -50%);
  /* transition: .3s; */
}


.image__block {
  /* margin-left: 5vw; */
  justify-self: center;
  
}
.home__data {

  margin-left: 3vw;
  margin-right: 1vw;
  justify-self: center;
  align-self:flex-start;
  /* opacity: 0.3; */
  background: rgba(255, 255, 255, 0.7); 
  padding: 10px;
  border-radius: 0.4rem;
  
}
.home__data h1 {
  color: rgb(0, 117, 156);
}
.home__data p {
  color: rgb(0,0,0)
}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  transition: .3s;
}

.button:hover .button__icon{
  transform: translateX(.25rem);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2rem;
}

.about__img{
  width: 280px;
  justify-self: center;
}

.about__title{
  margin-bottom: var(--mb-1);
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

/*=============== STEPS ===============*/
.steps__bg{
  /* background-color: var(--first-color); */
  padding: 3rem 2rem 2rem;
  border: 1px solid turquoise;
  border-radius: 0.4rem;
  
}


.steps__container{

  gap: 2rem;
  padding-top: 1rem;
}

.steps__title{
  color: #FFF;
}

.steps__card{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: var(--container-color); */
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.7); 
  
}

.steps__card-number{
  display: inline-block;
  background-color: #fff ;

  /* color: #FFF; */
    /* padding: .5rem ; */
  border-radius: 50%;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
  width: 8.5rem;
  height: 8.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}
.advantage__logo {
  width: 6rem;
  /* position: relative; */
  /* left: 13%; */
  /* margin: auto; */
  /* display: block; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}
.steps__card-title{
  color: #000;
   
  font-size: var(--h3-font-size);
  font-weight: 400;
  margin-bottom: var(--mb-0-5);
}

.steps__card-description{
  font-size: var(--small-font-size);
  font-style: italic;
  color: rgb(42, 42, 42)

}

.steps__card:hover .steps__card-number{
  transform: translateY(-.25rem);
}

/*=============== PRODUCTS ===============*/
.product__description{
  text-align: center;
}

.product__container{
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card{
  display: grid;
  position: relative;
}

.product__img{
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
}

.product__title,
.product__price{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.product__title{
  margin-bottom: .25rem;
}

.product__button{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.product__button:hover{
  background-color: var(--first-color-alt);
}

.product__circle{
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 5%;
}

.product__card:hover .product__img{
  transform: translateY(-.5rem);
}
/*--- Giffs----*/




.giffs_container {
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-width: 80vw;
  max-width: 1000px;

}
.giff {
  width: 36vw;
  height: 20vw;
  min-height: 224px;
  min-width: 400px;
  margin: 0.3rem;


  background-position: 50% 50%;
  background-repeat: no-repeat;

  background-size: cover;
  

  
  /* background-attachment: fixed; */

  
}
.giff1 {
  background-image: url(/assets/img/gif_replacer1.jpg);

}
.giff2 {
  background-image: url(/assets/img/gif_replacer2.jpg);
 
}
.vids__container {
  /* width: 100%; */

  display: block;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  align-items: center;
  min-width: 80vw;
  max-width: 1000px;
  
  text-align:center;
  

  
}
.vid {
  /* disabled */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
iframe {
 
  /* /* display: block; */
  /* margin: 20rem auto;  */
  margin-bottom: 5rem ;
  width: 72vw;
  height: 40vw;
  
  /* margin: 0.5rem; */
  /* width="560" height="315"; */
}
/*=============== QUESTIONS ===============*/
.questions{
  /* background-color: var(--first-color-lighten); */
}
.questions__title {
  background: rgba(38, 38, 38, 0.7); 
}
.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  display: grid;
  row-gap: 1.5rem;
}

.questions__item{
   background: rgba(255, 255, 255, 0.7); 
 
  border-radius: 0.4rem;
  color: #1a1a1a;
}

.questions__item-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: #1a1a1a
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
  
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/

.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: var(--first-color);
  border-radius: 0.4rem;
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}

/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3.5rem;
}
.contacts__title {
  font-size: var(--h2-font-size);
  margin-bottom: 3rem;
  background: rgba(38, 38, 38, 0.7);
  text-align: center;
  color: #FFF;
}

.contact__item {
  color: #FFF;
  /* background: rgba(38, 38, 38, 0.7); */
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba(38, 38, 38, 0.7); */
  
}
.h5 {
  background: rgba(38, 38, 38, 0.7);

}
.contact__item a {
  font-size: var(--small-font-size);
  /* color: var(--text-color); */
  color: #FFF;
  background: rgba(38, 38, 38, 0.7);
}

.contact__item h5 {
  background: rgba(38, 38, 38, 0.7);

}

.contact__data{
  display: grid;
  row-gap: 2rem;
}
.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon{
  font-size: 1.25rem;
}

.contact__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  color: var(--text-color);

  
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.contact__area{
  height: 7rem;
}

.contact__area textarea{
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label{
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*=============== FOOTER ===============*/

.footer {
  height: 120px;
  display: flexbox;
  flex-direction: column;
  justify-content: end;
}
.footer__container{
  row-gap: 3rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: .3s;
}

.footer__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe{
  background-color: var(--first-color-lighten);
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.footer__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button{
  padding: 1rem;
}

.footer__data{
  display: grid;
  row-gap: .75rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__cards{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}
.footer__card{
  width: 35px;
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 120px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home{
    padding: 5rem 0 4rem;
  }
  .home__img{
    width: 15rem;
    order: 1;
  }
  
  .home__title{
    font-size: var(--h1-font-size);
  }
  .home__freeTrial{
    font-size: var(--h1-font-size);
   text-align: center;
   color: rgb(0, 117, 156)
  }
  body {

    background-size: 1448px ;
        
    background-position: 0px  56px;
    
    background-repeat: repeat;
    background-attachment: scroll;
  }

}


#animHeading span {
  display: inline-block; /* To treat each span as an inline element */
  transition: color  0.5s; /* Smooth transition for color change */
}
.invert {
  color: #fff; /* White color for inversion */
}

/* Background color to see the inversion effect */
/* body {
  background-color: #000; /* Black background */
 */
  .steps__bg{
    padding: 2rem 1rem;
  }
  .steps__card{
    padding: 1.5rem;
  }

  .product__container{
    grid-template-columns: .6fr;
    justify-content: center;
  }
  iframe {
    width: 90vw;
    height: 50.6vw;
  }
  .vid {
    width: 90vw;
    height: 50.6vw;
  }


/* For medium devices */
@media screen and (min-width: 576px){
  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .home{
    padding: 8rem 0 4rem;
  }
  .home__img{
    width: 15rem;
    order: 1;
  }
  .product__description{
    padding: 0 4rem;
  }
  .product__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe{
    width: 400px;
  }


  iframe {
    width: 90vw;
    height: 50.6vw;
  }
  body {

    background-size: 1448px ;
        
    background-position: 0px  56px;
    
    background-repeat: repeat;
    background-attachment: scroll;
  }
}


@media screen and (min-width: 767px){
  body{
    margin: 0;
    background-size: cover;
  
  
  background-position: 0px  56px;

  background-repeat:no-repeat;
  background-attachment: fixed;

  }

  

  .nav{
    /* height: calc(var(--header-height) + 1.5rem); */
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 7rem 0 4rem;
  }
  .home__container{
    align-items: flex-start;
  }
        /* .image__block {
          width: 20rem;
        } */
  .home__img{
    width: 280px;
    order: 1;
  }
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.8rem;
  }


  .questions__container{
    align-items: flex-start;
  }

  .footer__container{
    column-gap: 3rem;
  }
  .footer__subscribe{
    width: initial;
  }
  iframe {
 
  
    width: 72vw;
    height: 40vw;
    
    
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 1 rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h2-font-size);
  }

  .home{
    padding: 8rem 0 5rem;
  }
  .home__img{
    width: 350px;
  }
  .home__description{
    /* padding-right: 7rem; */
  }

  .about__img{
    width: 380px;
  }

  .steps__container{
    grid-template-columns: repeat(4, 1fr);
  }
  .steps__bg{
    padding: 3.5rem 2.5rem;
  }
  .steps__card-title{
    font-size: var(--normal-font-size);
  }

  .product__description{
    padding: 0 16rem;
  }
  .product__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }
  .product__img{
    width: 160px;
  }
  .product__circle{
    width: 110px;
    height: 110px;
  }
  .product__title,
  .product__price{
    font-size: var(--normal-font-size);
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__title{
    /* text-align: initial; */
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo{
    font-size: var(--h3-font-size);
  }
  .footer__container{
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }
  .footer__copy{
    margin: 5rem 0 2rem;
  }
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.8rem;
  }
  iframe {
 
  
    width: 72vw;
    height: 40vw;
    
   
  }

}

@media screen and (min-width: 1200px){
  .home__social{
    right: -4rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.8rem;
  }

  .about__container{
    column-gap: 7rem;
  }

  .scrollup{
    right: 3rem;
  }
  .steps {
    min-width: 80vw;
    max-width: 1000px;
  }
  .giffs_container {
   width: 100%;
    display: flex;
    flex-direction: row;
  }
  iframe {
 
  
    width: 72vw;
    height: 40vw;
    
    
  }
}